

.header {
    background-color: #79794c;
    color: #e9e9c5;
    text-align: center;
    padding: 1rem;

}
main{
    background-color: #D6D69F;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

}

.grid-item {
    background-color: #A3A36A;
    border-radius: 5px;
    color: #e9e9ca;
    padding: 1rem;
}

.footer {
    background-color:  #79794c;
    color: #e2e2c0;
    text-align: center;
    padding: 1rem;
}